$roboto-font: "Roboto", sans-serif;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktopxl: 1440px;


//Colores

$dark-blue: #264065;
$white: #FFFFFF; 
$black: #070D15; 
$light-green: #A9D6CB;      
$grey: #909090;   