header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
        @include button();
        font-size: 18px;
        &:hover{
            background-color: green;
            transition-duration: 0.5s;
        }
    }
    .link{
        text-decoration: underline;
        color: $dark-blue;
        font-size: 18px;
        &:hover{
            color: white;
            transition-duration: 0.5s;
        }
    }
}