
 
body {
    overflow-x: hidden;
    background-color: #FAF8F5;
} 

body::before{
    content: "";
    width: 37.5%;
    height: 83%;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: $light-green;
    position: absolute;
    margin: 0;
    padding: 0;
}

.container::after{
    content: "";
    width: 700px;
    height: 700px;
    top: 1%;
    right: -15%;
    z-index: -1;
    background-image: url(../img/flor_grande.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    opacity: 0.1;
}